@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A14;
  --foreground: #F0EFF4;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass-panel {
    @apply bg-[#18181B]/80 backdrop-blur-xl border border-white/5;
  }
}
